---
const websiteName = "Kennet School Blog";
const whoaClass = {
	randomVariable: "Hello",
	woahArray: ["1", "2", "3"],
};

const display = false;
const stringDisplay = "no";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{websiteName}</title>

		<style>
			.titles {
				color: darkslategray;
				font-family: Arial;
			}
			.words {
				color: black;
				font-family: Arial;
			}
		</style>
	</head>

	<body>
		<h1 class="titles">About the Kennet School Blog</h1>
		<p class="words">
			We are a collection of 6th formers from Kennet School who will be
			documenting our investigations into supercurricular content of our
			chosen subjects.
		</p>
		<a class="words" href="/">Home</a>
		<br />

		{display && <p class="words">"Whoa this is displayed"</p>}
		{stringDisplay === "yes" ? <p>"Woah this is displayed"</p> : <p />}
	</body>
</html>
