---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
  <p >
	We are a collection of 6th formers from Kennet School who will be
	documenting our investigations into supercurricular content of our
	chosen subjects.
</p>
</BaseLayout>