---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog Posts";
---
<BaseLayout pageTitle={pageTitle}>
  <p>Find published articles below:</p>
  <!--
		<ul>
			<a href="/posts/post-1/">Sam's post</a><br />
			<a href="/posts/post-2/">Post 2</a><br />
			<a href="/posts/post-3/">Post 3</a><br />
		</ul>
-->
</BaseLayout>