---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kennet School Blog</title>

		<style>
			.titles {
				color: darkslategray;
				font-family: Arial;
			}
			.words {
				color: black;
				font-family: Arial;
			}
		</style>
	</head>
	<body>
		<h1 class="titles">Kennet School Blog</h1>
		<a class="words" href="/about/">About</a><br />
		<a class="words" href="/blog/">Blogs</a>
	</body>
</html>
