---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
    <a href="/">
      <h1>Kennet School Academic Journal</h1>
    </a>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
