<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <div class="dropdown">
        <button class="link">Blog</button>
        <div class="dropdown-menu">
            Dropdown content
        </div>
    </div>
</div>
